$bg_col_white: #ffffff;
$text-color: #000000;

// NOTE: Проблема 1: при уменьшении размера окна телефон должен уезжать вправо и в конце концов под логотип, но этого не происходит
// NOTE: Проблема 2: нужно по человечески выровнять логотип и телефон
// NOTE: Проблема 3: нижняя подчеркивающая полоса не во весь экран


div {
  // border: 1px solid red;
}


.header {
  height: 110px;
  color: $bg_col_white;
  display: block;
  // border: 1px solid red;
  width: 1020px;
  margin: 0 auto;
  border-bottom: 1px solid #b5b5b5;

}

.header__logo {
  display: inline-block;
  margin: auto;
  float: left;
  padding-left: 150px;
  padding-top: 25px;
  

}

.header__phone {
  display: inline-block;
  margin: auto;
  float:right;
  text-align: center;
  padding-right: 150px;
  padding-top: 35px;

    a {
      text-decoration: none;
      color: $text-color;

    }

}
